table{
    border-collapse: collapse;
    width: 70%;
    font-size: x-large;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
}
table, td, th{
    border: 1px solid red;
}
th {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400 !important;
}
tr {
    font-size: large;
}

.hide {
    display: none;
}

#show_post {
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
    width: 600px;
    padding: 15px;
    margin: 12% 30%;
    font-size: large;
}

#edit_post {
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
    width: 600px;
    padding: 30px;
    margin: 12% 30%;
    font-size: large;
}

.ed_form {
    margin: 7px;
    font-size: large;
    text-align: center;
    /* margin-left: 15%; */
}

.ed_form input, textarea {
    margin: 10px;
    width: 200px;
    font-size: x-large;

}

#c_btn {
    margin-left: 80%;
    font-size: x-large;
}

#n_posts {
    margin-left: 10%;
    margin-top: -28px;
    position: absolute;
}

#pagination {
    margin-left: 10%;
    margin-top: 5px;
}

