.table-container{
    width: 70%;
    font-size: x-large;
    text-align: center;
    margin-left: 15%;
    margin-top: 10%;
    border: 1px solid red;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
table{
    border-collapse: collapse;
    
}
td, th{
    border: 1px solid red;
    padding: 4px;
}
th {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: 400 !important; */
    font-weight: bold;
}
tr {
    font-size: large;
}

.hide {
    display: none;
}

#show_post {
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
    width: 600px;
    padding: 15px;
    margin: 12% 30%;
    font-size: large;
}

#edit_post {
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
    width: 600px;
    padding: 30px;
    margin: 12% 30%;
    font-size: large;
}

.ed_form {
    margin: 7px;
    font-size: large;
    text-align: center;
    /* margin-left: 15%; */
}

.ed_form input, textarea {
    margin: 10px;
    width: 200px;
    font-size: x-large;

}

#c_btn {
    margin-left: 80%;
    font-size: x-large;
}

#n_posts {
    margin-left: 15%;
    margin-top: -28px;
    position: absolute;
}

#pagination {
    margin-left: 15%;
    margin-top: 5px;
}

button {
    border-radius: 7px;
    border: none;
    transition: background-color 0.3s ease;
    /* font-size: 16px; */
}

button:hover {
    background-color: #45a049; /* Darker green */
    color: #fff; /* Change text color (optional) */
    transform: scale(1.1); /* Slightly enlarge the button */
}

i {
    cursor: pointer;

    
}
